{% extends "admin/base.html" %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}
  <div style="position: relative;">
    <a href="{% url 'admin:app_label_notification_changelist' %}">
      <span class="icon">&#128276;</span> <!-- Bell icon for notifications -->
      <span id="notification-count" style="
          position: absolute;
          top: -5px;
          right: -10px;
          background: red;
          color: white;
          border-radius: 50%;
          padding: 2px 5px;
          font-size: 12px;">
        {{ unread_notifications }}
      </span>
    </a>
  </div>
{% endblock %}
