# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3

# Environment Variables
.env

# Media and static files
/media/
/staticfiles/
/static/

# Local environment configuration
/local_settings.py

# Virtual environment folder
venv/
env/
ENV/
.venv/
.virtualenv/

# macOS
.DS_Store

# VSCode and PyCharm IDE files
.vscode/
.idea/
